body {
	overflow: hidden;
}

.logo {
	font-family: 'Pacifico', cursive;
	margin: auto;
}

.fixed {
	position: absolute;
	right: 15px;
	margin-top: -15px;
	font-size: 1.8em;
}

.timer-container {
	position: absolute;
	right: 15px;
	margin-top: 5px;
}

.timer {
}

#myProgress {
	margin: 0;
}

#myBar {
	width: 1%;
	height: 30px;
}

.btn .btn-outline-dark {
	margin: 10px 0;
}

.answer {
	height: 41vw;
	width: 41vw;
	max-height: 125px;
	max-width: 172px;
	margin-bottom: 20px;
	margin-top: 20px;
}

body {
	background-color: rgb(247, 247, 217);
}

.connexion {
	margin-bottom: 125px;
}

.titre-theme {
	background-color: rgb(223, 222, 222);
}

.footer {
	text-align: center;
	position: fixed;
	bottom: 0px;
	width: 100%;
	display: inline-block;
	vertical-align: top;
	font-size: 13px;
}

.mt-6 {
	margin-top: 70px;
}
